div.hapyak-annotation-container > .popcorn-pop {
	background-color: transparent;
	color: white;
	border: none;
	box-shadow: none;
	border-radius: 0;
	font-family: 'Helvetica Neue', 'Helvetica';
	background-image: url('../imgs/twitter-bg.png');
	background-repeat: no-repeat;
	background-color: rgb(33, 169, 225);
	margin-left: -110px;
	padding-left: 110px;
	min-height: 69px;
}

div.hapyak-annotation-container > .popcorn-bookmark-title {
	height: 30%;
	width: 45%;
	left: 50%;
	top: 30%;
	background-color: rgba(0, 0, 0, 0);
}

div.hapyak-annotation-container > .popcorn-bookmark-title > div:first-child {
	background-color: rgba(0, 0, 0, 0);
	background-image: url('../imgs/title-logo.png');
	background-repeat: no-repeat;
	background-size: 90%;
	background-position-x: 25px;
	background-position-y: 0px;
	padding-top: 140px;
}

div.hapyak-annotation-container > .popcorn-bookmark-title > div:first-child > div::first-line {
	text-transform: uppercase;
	background-color: rgb(0,0,0);
}

div.hapyak-annotation-container > .popcorn-bookmark-title > div:first-child > div {
	color: black;
	background-color: rgb(251,186,21);
	font-family: 'Open Sans', sans-serif;
	line-height: 60px;
	font-size: 38px;
	font-weight: bolder;
}

div.hapyak-annotation-container > .popcorn-bookmark-title > div > .popcorn-bookmark-close {
	display: none;
}

div.hapyak-annotation-container > .popcorn-bookmark-title > div > .popcorn-bookmark-next {
	display: none;
}

div.hapyak-annotation-container > .popcorn-bookmark-title > div > .popcorn-bookmark-previous {
	display: none;
}

div.hapyak-annotation-container > .hapyak-transition-fade {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
	visibility: hidden;
	opacity: 0;
}

div.hapyak-annotation-container > .active.hapyak-transition-fade {
	-webkit-transition: opacity .5s ease,visibility .5s ease;
	-moz-transition: opacity .5s ease,visibility .5s ease;
	-o-transition: opacity .5s ease,visibility .5s ease;
	-ms-transition: opacity .5s ease,visibility .5s ease;
	transition: opacity .5s ease,visibility .5s ease;
	visibility: visible;
	opacity: 1;
}

div.hapyak-annotation-container > .hapyak-transition-slide-up.active {
    -webkit-transition: margin-top .4s ease,visibility .4s ease;
    -moz-transition: margin-top .4s ease,visibility .4s ease;
    -o-transition: margin-top .4s ease,visibility .4s ease;
    -ms-transition: margin-top .4s ease,visibility .4s ease;
    transition: margin-top .4s ease,visibility .4s ease;
    visibility: visible;
    margin-top: 0;
}

div.hapyak-annotation-container > .hapyak-transition-slide-up {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
	visibility: hidden;
	margin-top: 100%;
}
